@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.columns-4 {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 1em;
}

.border {
  stroke: black 1px solid;
  margin: 16px;
}
